@use "../../styles/mixin";
@use "../../styles/variable";

.dashboard-container {
  background-color: #f8f9fa;
  width: 100%;
  min-height: 95vh;
  padding: 3rem;

  /* Dashboard Heading */
  .dashboard-heading {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;

    h1 {
      @include mixin.heading1;
    }
    button {
      @include mixin.addButton;
      cursor: pointer;
    }
  }

  /* Dashboard Content */
  .dashboard-content {
    margin: auto;
    border-radius: 5px;
    padding: 2rem;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    display: flex;
    flex-direction: column;

    .dashboard-filterbox-container{
       display: flex;
       gap: 1rem;
    }

    .dashboard-filter-container {
      display: flex;
      gap: 0.7rem;
      justify-content: flex-end;
      margin-top: 3rem;
    }

    .dashboard-table-container {
      margin-top: -30px;

      .table-switch-button {
        display: flex;
        height: 45px;
        display: flex;
        gap: 0.7rem;
      }

      .table-sub-container{
         border: 1px solid variable.$bg-gray;
         border-radius: 5px;
         padding: 1rem 2rem;
      }


      .table-pagination-search {
        display: flex;
        justify-content: space-between;
        margin: 2rem 0;

        .table-searchbar{
          background-color: variable.$bg-gray;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px 10px;
          border-radius: 4px;

          &:nth-child(1){
             transform: translateY(-5px)
          }
        }

        input,
        select {
          @include mixin.filterbtn;
           
          &:focus, &:active{
             outline: none
          }
        }

        input{
          width: 200px;
          border: none;

          &::placeholder{
            font-size: 1rem;
          }
        }

        select {
          -webkit-appearance: none;
          -moz-appearance: none;
          text-indent: 1px;
          text-overflow: "";
          padding: 2px 0;
          width: max-content;
          text-align: center;

          &:focus,
          &:active {
            outline: none;
          }
        }
      }
    }
  }
}
