@use "../../styles/variable";

.dashboard-table {
  table {
    width: 100%;
    text-align: left;
    // border-collapse: separate;
    border-spacing: 0 10px;
    overflow: hidden;

    thead {
      th {
        font-size: 14px;
        font-weight: 600;
        text-align: left;
        color: variable.$tab-title;
        cursor: pointer;
        padding: 0 15px 0 10px;

        span {
          margin: 0;
          // padding: 1px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 4px;
          width: max-content;
        }
      }

      #name {
        width: 30%;
      }

      #type,
      #actions {
        width: 2%;
      }

      #score {
        width: 8%;
      }

      #goal,
      #assigned {
        width: 16%;
      }

      #priority,
      #status {
        width: 9%;
      }

      #fromdate,
      #duedate {
        width: 5%;
      }
    }

    /* 
Table Data 
*/
    tr {
      td {
        border-top: 1px solid variable.$bg-gray;
        border-bottom: 1px solid variable.$bg-gray;
        padding: 0 15px 0 10px;
        font-size: 0.9rem;

        &:nth-child(1) {
          border-left: 1px solid variable.$bg-gray;
          border-radius: 5px 0 0 5px;
          text-align: center;
        }
        &:last-child {
          border-right: 1px solid variable.$bg-gray;
          border-radius: 0 5px 5px 0;
          text-align: right;
          padding-right: 20px;
        }

        img {
          width: 25px;
        }
      }
      .assigned {
        min-height: 60px;
        display: flex;
        align-items: center;
        gap: 5px;

        span:nth-child(1)>img {
          border-radius: 50%;
        }
      }
    }
  }
}

.help {
  border: none;
  border-radius: 50%;
  padding: 0 5px;
  font-size: 10px;
  background-color: #ccc;
  color: white;
  transform: translateY(1px);
}
