$bg-dark: rgb(34, 34, 34);
$bg-light: rgb(245, 245, 245);
$bg-yellow: rgb(255, 158, 25);
$bg-green: rgb(238, 255, 248);
$bg-purple: #dac6e0 !important;
$bg-red: rgb(255, 240, 240);
$bg-blue: rgb(240, 248, 255);
$bg-gray: rgb(240, 241, 242);

$text-blue: rgb(29, 89, 178);
$text-red: rgb(178, 41, 41);
$text-green: rgb(85, 181, 131);
$text-gray: rgb(48, 48, 48);

$tab-title: #42526e;

/* Box Shadows */
$filterboxshadow: 0.2rem 0.2rem 0.25rem rgba(0, 0, 0, 0.075) !important;

/* BreakPoints */
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;


