@use "../../styles/variable";

.tabs-button {
  background-color: variable.$bg-gray;
  border: 1px solid #e6e7eb;
  border-radius: 4px 4px 0 0;
  padding: 5px 10px;
  width: max-content;
  min-width: 160px;
  color: #212529;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;

  img {
    width: 16px;
  }
}
