@use "./styles/variable";
@use "./styles/mixin";

* {
  margin: 0;
  padding: 0;

  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
}

body {
}

.app {
  display: flex;

  .sidebar-container {
    flex-basis: 15%;
    // padding: 0rem 2rem;
  }

  .main-container {
    width: 100%;
    position: relative;
    height: 100vh;
    flex-basis: 85%;
    padding: 1rem 0;
    overflow-y: auto;
  }
}
