@use "../../styles/variable";

.priority {
  display: flex;
  align-items: center;

  p {
    font-weight: 600;
  }

  span {
    color: #fff;
    padding: 1px 3px 1px 3px;
    border-radius: 4px;
    font-size: 0.7rem;
    font-weight: 900;
    transform: translateX(-5px);

    & > * {
      transform: translateY(1px);
    }
  }
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px;
}

.score {
  position: relative;
  height: 10px;
  width: 80px;
  border-radius: 10px;
  margin-top: 6px;
  background-color: variable.$bg-gray;
}
